@font-face{
	font-family:'heiLi';
	src:url('../fonts/st.ttf');
}
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	text-decoration: none;
	list-style-type: none;
	font-family: heiLi, 'Microsoft YaHei', 'STHeiti SC', 'SimHei',sans-serif,FontAwesome !important;
	font-weight: 600;
}
@media screen and (max-width:400px){
	html{
		font-size: 8px;
	}
}
body{
	text-align: center;
	font-size: 1.1em;
	color:black;
}
h1{
	font-size: 5rem;
	font-weight: 600;
	margin-bottom:7%;
}
h2{
	font-size: 2.3rem;
	margin-bottom:2%;
}
h3{
	font-size: 2rem;
	margin-top:1%;
}
h4{
	font-size: 1.5rem;
	margin-top:1%;
}
h5{
	font-size: 1.2em;
	margin-top:1%;
}
h6{
	font-size: 1.5rem;
	margin-top:1%;
	opacity: 0.7;
}
h1,h2,h3,h4,h5,h6{
		font-weight: 600;
}

li{
	list-style-type: none;
}

.center{
	text-align: center;
}
.row{
	padding-left: 20%;
	padding-right: 20%;
}

#menu a {
    color: #fff;
    transition:  all 0.3s ease-out;
}
#menu a:link,#menu a:visited{
	color:#fff;
}
#menu a:hover{
	color:#C7C6C6;
}
#menu a:active{
	color:#fff;
}
.photo{
	display:none;
	width: 200px;
	height: 290px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	border-radius: 50%;
	border:10px solid #333;
}

#section5 ul{
	margin-top: 5%;
	display: inline-block;
	margin:0 auto;
	text-align: justify;
}
.navbar{
	background-color: #333;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
}
.page0-container p{
	font-size: 1.7rem;
	margin: 5px;
}
.job{
	margin-top: -5%;
	margin-bottom: 7%;
}
.span-padding{
	padding: 0 5px;
}
.a-padding{
	padding: 5px 5px;
	font-size: 1.5rem;
}
#section3 h5{
	margin-bottom: 10%;
}
#section1 div,#section2 li, #section3 div{
	font-size: 1.5rem;
}
#section0 a{
	font-size: 1.5rem;
}
#section2 h6{
	margin-top: -1.8%;
}
.fa{
	padding-right: 5px;
}
#section0, #section1, #section2,#section3, #section4{
	position: relative;
}
.scroll-tip{
	font-size: 1.2rem !important;
	position: absolute;
	bottom: 5px;
	left: 50%;
	animation: loops 1s ease infinite;
	-webkit-animation-name:loops;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:ease;
	-webkit-animation-iteration-count:infinite;
}
@keyframes loops{
	0%{
		bottom: 5px
	}
	50%{
		bottom: 3%;
	}
	100%{
		bottom: 5px;
	}
}
@-webkit-keyframes loops{
	0%{
		bottom: 5px
	}
	50%{
		bottom: 3%;
	}
	100%{
		bottom: 5px;
	}
}
@-moz-keyframes loops{
	0%{
		bottom: 5px
	}
	50%{
		bottom: 3%;
	}
	100%{
		bottom: 5px;
	}
}
@-o-keyframes loops{
	0%{
		bottom: 5px
	}
	50%{
		bottom: 5%;
	}
	100%{
		bottom: 5px;
	}
}
