@font-face{
	font-family:'heiLi';
	src:url('../fonts/lan.ttf');
}
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	text-decoration: none;
	list-style-type: none;
	font-family: heiLi, 'Microsoft YaHei', 'STHeiti SC', 'SimHei',sans-serif,FontAwesome !important;
}
body{
	text-align: center;
	/*font-family: "PingHei","Microsoft YaHei",sans-serif;*/
	// font-family: 'Microsoft YaHei', 'STHeiti SC', 'SimHei',sans-serif;
	font-size: 1.1em;
	color:black;

}
h1{
	font-size: 5rem;
	font-weight: 550;
	margin-bottom:7%;
}
h2{
	font-size: 2.3rem;
	margin-bottom:2%;
}
h3{
	font-size: 2rem;
	margin-top:1%;
}
h4{
	font-size: 1.5rem;
	margin-top:1%;
}
h5{
	font-size: 1.2em;
	margin-top:1%;
}
h6{
	font-size: 1.5rem;
	margin-top:1%;
	opacity: 0.7;
}

li{
	list-style-type: none;
}

.center{
	text-align: center;
}
.row{
	padding-left: 20%;
	padding-right: 20%;
}
/* #menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 10px;
    top: 10px;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 14px;
}*/

#menu a {
    color: #fff;
    transition:  all 0.3s ease-out;
}
#menu a:link,#menu a:visited{
	color:#fff;
}
#menu a:hover{
	color:#C7C6C6;
}
#menu a:active{
	color:#fff;
}

// #menu .active a {
//     color: #fff;
//     background-color: #333;
// }


.photo{
	display:none;
	width: 200px;
	height: 290px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	border-radius: 50%;
	border:10px solid #333;
}

#section5 ul{
	margin-top: 5%;
	display: inline-block;
	margin:0 auto;
	text-align: justify;
}
.navbar{
	background-color: #333;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
	// color:#fff !important;
}
.page0-container{
	// padding-top: 5%;
}
.page0-container p{
	font-size: 1.7rem;
	margin: 5px;
}
.job{
	margin-top: -5%;
	margin-bottom: 7%;
}
.span-padding{
	padding: 0 5px;
}
.a-padding{
	padding: 5px 5px;
	font-size: 1.5rem;
	// margin:5px 15px;
	// background-color: #337AB7;
	// color:#fff;
	// border-radius: 5px;
}
#section3 h5{
	margin-bottom: 10%;
}
#section1 div,#section2 li, #section3 div{
	font-size: 1.5rem;
}
#section0 a{
	font-size: 1.5rem;
}
#section2 h6{
	margin-top: -1.8%;
}
.fa{
	padding-right: 5px;
	// color:#333;
}
// .fa-lg{
// 	width: 25px;
// 	height: 25px;
// 	background-color: #337AB7;
// 	color: #fff;
// }
